.mainRedColor {
  color: var(--main-red-color);
}

.alignLeft {
  text-align: left;
}

.alignRight {
  text-align: right;
}

.headerBtn {
  widows: 24%;
  font-size: 1.8rem;
  font-family: "Bungee", sans-serif;
  background: unset;
  border: unset;
  outline: unset;
  cursor: pointer;
  padding: 16px;
}

.headerBtn:active {
  text-shadow: 1px 1px 2px;
}

.headerBtn:hover {
  font-size: 2rem;
}
